<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/about.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/about.js"></script>
</head>
<body>
	<nav>
		<p class="logo"><a href="../index.html"><img src="../images/logo.png" id="logo">Gundam</a></p>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="about.html" class="current">About</a></li>
			<li><a href="models.html">Models</a></li>
			<li><a href="quiz.html">Quiz</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</nav>	
	<div class="fade">
		<h1>What is Gunpla?</h1>
		<p><b>Gunpla</b> is <b>Gundam</b> + <b>plastic model</b>, it is from the Japanese word ガンプラ <b><i>Ganpura</i></b>, and it is manufactured by <b>Bandai!</b></p>
		<p>It is a plastic model depicting various <b>mobile suit</b> designs from different Gundam anime series that is built from the parts in the <b>runners</b> (the frame like things inside the box). You can basically build one with just your <b>bare hands</b> and a pair of <b>cutting plies</b>. (Better if they are really made to cut plastic). </p>
		<img src="../images/gunpla.jpg" id="gunpla" alt="Information about Gunpla"><img src="../images/gunpla2.jpg" id="gunpla" alt="Information about Gunpla">
		<p><b>Gunpla kits</b> are categorized into 5 grades namely <a href="#pg" class="show"><b>Perfect Grade</b></a> (PG), <a href="#mg" class="show"><b>Master Grade</b></a> (MG), <a href="#hg" class="show"><b>High Grade</b></a> (HG), <a href="#rg" class="show"><b>Real Grade</b></a> (RG) and <a href="#sd" class="show"><b>Super Deformed</b></a> (SD).</p>
		<div class="grade">
			<p class="p1">
				<img src="../images/pg.jpg" class="image" alt="Perfect Grade">
				<center><h3>Perfect Grade</h3></center>
				Perfect Grades are the best kits that you can buy! They are <b>1/60</b> in scale, have the <b>best detail</b>, <b>articulation</b> and <b>part quantity</b>. But they are also the most <b>expensive</b> ones! They cost up to 26,500 Japanese Yen!
			</p>
		</div>
		<div class="grade">
			<p class="p1">
				<img src="../images/mg.jpg" class="image" alt="Master Grade">
				<center><h3>Master Grade</h3></center>
				Master Grades have <b>great detail</b> and <b>articulation</b>, they are <b>1/100</b> in scale. They usually have <b>inner frames</b> (the inner structure of the mobile suit). They are expensive too but not as expensive as the Perfect Grades. A hobbyist can buy one at an average price of 5,000 Japanese Yen.
			</p>
		</div>
		<div class="grade">
			<p class="p1">
				<img src="../images/hg.jpg" class="image" alt="High Grade">
				<center><h3>High Grade</h3></center>
				High Grades are the <b>cheapest</b> and the most <b>collectible</b> (that is of normal proportions) Gunpla that a hobbyist can buy! Although they have <b>less detail</b> and <b>less articulation</b> compared to MGs. Another thing is that they do not have <b>inner frames</b> compared to MGs and PGs. They are <b>1/144</b> in scale. They cost around an average of 1,500 Japanese Yen.
			</p>
		</div>
		<div class="grade">
			<p class="p1">
				<img src="../images/rg.jpg" class="image" alt="Real Grade">
				<center><h3>Real Grade</h3></center>
				The RG line combines the best aspects of the other three Gunpla lines: The 1/144 size and affordable prices of the High Grade, the advanced inner frame technology of the Master Grade and the massive part count of the Perfect Grade. The RG line is known for the Advanced MS Joint where the inner frame of the suit is placed on a single gate for easy construction. Also, the RG line reflects what a mobile suit would look like if it were built in the present day.
			</p>
		</div>
		<div class="grade">
			<p class="p1">
				<img src="../images/sd.jpg" class="image" alt="Super Deformed">
				<center><h3>Super Deformed</h3></center>
				Super Deformed or commonly known as SDs are mobile suit models that are <b>chibi</b> in size! They are short in size! And they have <b>large disproportional heads</b> with reference to their small body and larger arms, hands, legs and feet. They are the cute version of mobile suit kits! They are also highly collectible in par with HGs since they are very cheap!
			</p>
		</div>
	</div>
</body>
</html>