<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/contact.css">
</head>
<body>
	<nav>
		<p><a href="../index.html"><img src="../images/logo.png" id="logo">Gundam</a></p>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="models.html">Models</a></li>
			<li><a href="quiz.html">Quiz</a></li>
			<li><a href="contact.html" class="current">Contact</a></li>
		</ul>
	</nav>
	<div class="container fade">
	<h2>Contact Me</h2>
	<form action="https://formspree.io/gzheng4@fordham.edu" method="POST" />
	  Your name:<br>
	  <input class="contact" id="name" type="text" name="name" placeholder ="Your Name" required>
	  <br>
	  Email:<br>
	  <input class="contact" id="email" type="email" name="email" placeholder="Your Email" required>
	  <br>
	  Message:<br>
	  <textarea class="message" name="message" rows="10" cols="30" placeholder="Message..." required></textarea>
	  <br>
	  <input type="submit" value="Submit">
	</form> 
	<div class="animate"></div>
</div>
</body>
</html>