<!DOCTYPE html>
<html>
<head>
	<title>Models</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/models.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/models.js"></script>
</head>
<body>
	<nav>
		<p class="logo"><a href="../index.html"><img src="../images/logo.png" id="logo">Gundam</a></p>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="models.html" class="current">Models</a></li>
			<li><a href="quiz.html">Quiz</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</nav>	
	<div class="fade">
		<select>
			<option value="2015">Gunpla Builders World Cup 2015</option>
			<option value="2016">Gunpla Builders World Cup 2016</option>
			<option value="2017">Gunpla Builders World Cup 2017</option>
		</select>
		<button id="select"><center>Select</center></button>
	</div>
	<div class="showcase" id="showcase1">
		<ul>
			<li class="open"><h2>Open Course</h2></li>
			<li class="junior"><h2>Junior Course</h2></li>
			<br>
			<li><a href="#o2015fp"><img src="../images/2015thumb1.jpg" alt="2015 Open Course First Place"></a><a href="#!" class="lightbox" id="o2015fp"><img src="../images/20151.jpg" alt="2015 Open Course First Place" class="lightboximage"></a></li>
			<li><a href="#j2015fp"><img src="../images/2015thumb11.jpg" alt="2015 Junior Course First Place"></a><a href="#!" class="lightbox" id="j2015fp"><img src="../images/201511.jpg" alt="2015 Junior Course First Place" class="lightboximage"></a></li>
			<br>
			<li><a href="#o2015sp"><img src="../images/2015thumb2.jpg" alt="2015 Open Course Second Place"></a><a href="#!" class="lightbox" id="o2015sp"><img src="../images/20152.jpg" alt="2015 Open Course Second Place" class="lightboximage"></a></li>
			<li><a href="#j2015sp"><img src="../images/2015thumb22.jpg" alt="2015 Junior Course Second Place"></a><a href="#!" class="lightbox" id="j2015sp"><img src="../images/201522.jpg" alt="2015 Junior Course Second Place" class="lightboximage"></a></li>
			<br>
			<li><a href="#o2015tp"><img src="../images/2015thumb3.jpg" alt="2015 Open Course Third Place"></a><a href="#!" class="lightbox" id="o2015tp"><img src="../images/20153.jpg" alt="2015 Open Course Third Place" class="lightboximage"></a></li>
			<li><a href="#j2015tp"><img src="../images/2015thumb33.jpg" alt="2015 Junior Course Third Place"></a><a href="#!" class="lightbox" id="j2015tp"><img src="../images/201533.jpg" alt="2015 Junior Course Third Place" class="lightboximage"></a></li>
		</ul>
	</div>
	<div class="showcase" id="showcase2">
		<ul>
			<li class="open"><h2>Open Course</h2></li>
			<li class="junior"><h2>Junior Course</h2></li>
			<br>
			<li><a href="#o2016fp"><img src="../images/2016thumb1.jpg" alt="2016 Open Course First Place"></a><a href="#!" class="lightbox" id="o2016fp"><img src="../images/20161.png" alt="2016 Open Course First Place" class="lightboximage"></a></li>
			<li><a href="#j2016fp"><img src="../images/2016thumb11.jpg" alt="2016 Junior Course First Place"></a><a href="#!" class="lightbox" id="j2016fp"><img src="../images/201611.png" alt="2016 Junior Course First Place" class="lightboximage"></a></li>
			<br>
			<li><a href="#o2016sp"><img src="../images/2016thumb2.jpg" alt="2016 Open Course Second Place"></a><a href="#!" class="lightbox" id="o2016sp"><img src="../images/20162.png" alt="2016 Open Course Second Place" class="lightboximage"></a></li>
			<li><a href="#j2016sp"><img src="../images/2016thumb22.jpg" alt="2016 Junior Course Second Place"></a><a href="#!" class="lightbox" id="j2016sp"><img src="../images/201622.png" alt="2016 Junior Course Second Place" class="lightboximage"></a></li>
			<br>
			<li><a href="#o2016tp"><img src="../images/2016thumb3.jpg" alt="2016 Open Course Third Place"></a><a href="#!" class="lightbox" id="o2016tp"><img src="../images/20163.png" alt="2016 Open Course Third Place" class="lightboximage"></a></li>
			<li><a href="#j2016tp"><img src="../images/2016thumb33.jpg" alt="2016 Junior Course Third Place"></a><a href="#!" class="lightbox" id="j2016tp"><img src="../images/201633.png" alt="2016 Junior Course Third Place" class="lightboximage"></a></li>
		</ul>
	</div>
	<div class="showcase" id="showcase3">
		<ul>
			<li class="open"><h2>Open Course</h2></li>
			<li class="junior"><h2>Junior Course</h2></li>
			<br>
			<li><a href="#o2017fp"><img src="../images/2017thumb1.jpg" alt="2017 Open Course First Place"></a><a href="#!" class="lightbox" id="o2017fp"><img src="../images/20171.png" alt="2017 Open Course First Place" class="lightboximage"></a></li>
			<li><a href="#j2017fp"><img src="../images/2017thumb11.jpg" alt="2017 Junior Course First Place"></a><a href="#!" class="lightbox" id="j2017fp"><img src="../images/201711.png" alt="2017 Junior Course First Place" class="lightboximage"></a></li>
			<br>
			<li><a href="#o2017sp"><img src="../images/2017thumb2.jpg" alt="2017 Open Course Second Place"></a><a href="#!" class="lightbox" id="o2017sp"><img src="../images/20172.png" alt="2017 Open Course Second Place" class="lightboximage"></a></li>
			<li><a href="#j2017sp"><img src="../images/2017thumb22.jpg" alt="2017 Junior Course Second Place"></a><a href="#!" class="lightbox" id="j2017sp"><img src="../images/201722.png" alt="2017 Junior Course Second Place" class="lightboximage"></a></li>
			<br>
			<li><a href="#o2017tp"><img src="../images/2017thumb3.jpg" alt="2017 Open Course Third Place"></a><a href="#!" class="lightbox" id="o2017tp"><img src="../images/20173.png" alt="2017 Open Course Third Place" class="lightboximage"></a></li>
			<li><a href="#j2017tp"><img src="../images/2017thumb33.jpg" alt="2017 Junior Course Third Place"></a><a href="#!" class="lightbox" id="j2017tp"><img src="../images/201733.png" alt="2017 Junior Course Third Place" class="lightboximage"></a></li>
		</ul>
	</div>
</body>
</html>