img:not(#logo) {
  width : 1920px;
  height: 1080px;
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}

.slideshow {
  
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 1920px;
  height: 720px;
  max-height: 100%;
  max-width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1.5vw;
  color: black;
  font-weight: bold;
  font-size: 2vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: lightgrey;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.dots {
  text-align: center;
  position: absolute;
  left: 44%;
  bottom: 1%;
}

/* The dots/bullets/indicators */
.dot {
  border: 2px black solid;
  border-radius: 10%;
  cursor: pointer;
  height: 2vh;
  width: 1.5vw;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  /*transition: background-color 0.6s ease;*/
}

.active, .dot:hover {
  background-color: #717171;
}